<form action="action_page.php" method="post">

  
    <div class="container">
      <label for="uname"><b>Usuario</b></label>
      <input type="text" placeholder="Introducir usuario" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Introducir Password" name="psw" required>
  
      <button type="submit">Entrar</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Recordarme en este equipo
      </label>
    </div>
  
    <div class="container" style="background-color:#b4b9b9">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw">Olvidaste tu password?</span>
    </div>
  </form>
