*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,cursive;
    font-size: 16.5px;
    font-weight: 10;
    letter-spacing: 0.195em;
}
#logo{
    position: relative;
    top: 8px;
    left: 15px;
    width: 190px;
    height: 80px;
}
.nHome{
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    height: 105px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 32, 32);
}
.btnLogin{
    font-size: 19px;
    height: 50px;
    width: 220px;
    border-radius: 5px;
    border-width: 0px;
    margin-left: 15px;
    margin-top: 25px;
    color: white;
    background-color: rgba(92, 90, 90, 0.63);
}
.btnLogin:hover{
    transition: 0.5s;
    background-color:  rgba(165, 42, 42, 0.849);
    color: white;
    font-weight: 300;
}
.searchBx{
    font-size: 19px;
    margin-top: 25px;
    margin-left: 15px;
    height: 50px;
    width: 220px;
    border-radius: 5px;
    border-width: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.438);
    background-color: rgba(92, 90, 90, 0.808);
}
.nHome li {
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 150;
}

.nHome li a {
    color: rgba(255, 255, 255, 0.753);
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
}
.nHome li a:hover{
    transition: 0.5s;
    color: white;
    background-color:  rgba(165, 42, 42, 0.849);
    font-weight: 300;
}
.nAviso{
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    padding-top: 5px;
    overflow: hidden;
    background-color: rgb(99, 97, 97);
    text-align: center;
}
.nAviso p{
    text-align: center;

}
.mainSection{
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 32, 32);  
    width: 100%;
}
.prdDescripcion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(34, 32, 32);
    box-shadow: rgb(0, 0, 0);   
    height: 850px;
}
.cntPrd001{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 100%;
}
#prd001{
    width: 300px;
    height: 400px;
    margin: 50px;
    margin-left: 110px;
    margin-right: 110px;
    border-style: solid;
    border-color: rgba(39, 39, 39, 0.61);
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
}
#listaPrd{
    list-style-type: none;
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.356);
}
#listaPrd li{
    float: left;
    align-items: center;
    margin: 5px;
    padding: 15px;
    border-style: solid;
    border-color: rgba(39, 39, 39, 0.61);
    border-radius: 7px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.288);
}
#prd002,#prd003,#prd004,#prd005,#prd006{
    width: 40px;
    height: 70px;
    
}
#listaPrd li:hover{
    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0.781);
}


/* Presentacion prodcutos */
.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ebebeb;
  }
  
  .products-title {
    font-size: 1.6em;
    font-weight: 700;
    color: green;
    text-align: center;
  }
 
  .edit-product-title {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    color: #1259c3;
    text-align: center;
  }


/*====== Formularios ======*/
.form-label {
    display: flex;
    list-style-type: none;
    font-size: 1em;
    margin: 10px 0;
    font-weight: 700;
  }
 
  .form-input {
    display: flex;
    width: 300px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 600;
    color: red;
    background-color: #ebebeb;
    border-radius: 8px;
    border: solid 1px black;
    padding: 0 15px;
  }
  .form-input-text {
    display: flex;
    width: 450px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 600;
    color: red;
    background-color: #ebebeb;
    border-radius: 8px;
    border: solid 1px black;
    padding: 0 15px;
  }

.buy-now-button {
    background-color: #1259c3;
    font-size: 1em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
  }
      
/* -------- Detalle de Productos --------*/  

.product-detail {
    background-color: #ffffff;
    border: solid 1px black;
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-around;
  }
  

.detalleProducto{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    top: 20px;
    padding: 15px;
    margin-top: 15px;
    margin-left: 50px;
    left: 650px;
    background-color:#ebebeb;
    width: 50%;
    height: 700px;
       
    justify-content: space-around;
}
#tituloProducto{
    color: rgba(22, 22, 22, 0.74);
    font-size: 40px;
    text-align: right;
    left: 0;
    letter-spacing: 0.22em;
    font-weight: 700;
}
#precioProducto{
    color: rgba(22, 22, 22, 0.74);
    font-size: 25px;
    text-align: right;
    left: 0;
    letter-spacing: 0.1em;
    font-weight: 600;
}
#description{
    font-size: 25px;
    font-weight: 600;
}
#pers{
    left: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.coloresProducto{
    list-style-type: none;
}
.coloresProducto li{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.459);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.212);
    left: 110px;
    padding: 15px;
    border-radius: 35px;
    padding-top: 7px;
    padding-bottom: 3px;
    float: left;
    margin: 30px;
    margin-bottom: 25px;
}
.coloresProducto li:hover{
    transition: 0.8s;
    border-color: white;

}
#clrPrd1,#clrPrd2,#clrPrd3{ 
    padding: 5px;
    width: 30px;
    height: 55px;
}
.tprod{
    list-style-type: none;
}
.tprod li{
    top: 10px;
    right: 30px;
    float: left;
    margin-right: 2px;
}
#sizeProd {
    width: 300px;
    height: 60px;
    text-align: center;
    background-color:rgb(204, 197, 197);
}
#qtyPrd {
    width: 230px;
    height: 60px;
    text-align: center;
    background-color:rgb(204, 197, 197);
}
.bProd{
    list-style-type: none; 
}
.bProd li{
    top: 30px;
    right: 30px;
    float: left;
    margin-right: 2px;
}
#btnAgregar{
    background-color: darkkhaki;
    width: 300px;
    height: 60px;
}

.action-button.edit {
    background-color: darkkhaki;
    width: 170px;
    height: 60px;
  }
  .action-button.delete {
    background-color: darkkhaki;
    width: 170px;
    height: 60px;
  }
  
#politicasEnvio{
    margin: 15px;
    left: 15px;
}
#pEnvio{
    font-size: 22px;
    font-weight: 400;
}
/*====== Footer ======*/
.main-footer {
    display: flex;
    color: black;
    align-items: right;
    text-align: center;
    background-color: #ebebeb;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
.pagefoot {
    color: black;
    font-size: 2.4em;
    font-weight: 700;
  }
.copyright {
    color: black;
    font-size: 1.5em;
    font-weight: 600;
  }