    *{
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,cursive;
        font-size: 16.5px;
        font-weight: 10;
        letter-spacing: 0.195em;
    }
    .section1{
        background-color: black;
        margin: 0;
        width: 98.7;
        height: 100vh;
    }
    #logo{
        position: relative;
        top: 8px;
        left: 15px;
        width: 190px;
        height: 80px;
    }
    .nHome{
        display: flex;
        width: 100%;
        flex-direction: row;
        list-style-type: none;
        height: 105px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(34, 32, 32);
    }
    .btnLogin{
        font-size: 19px;
        height: 50px;
        width: 220px;
        border-radius: 5px;
        border-width: 0px;
        margin-left: 15px;
        margin-top: 25px;
        color: white;
        background-color: rgba(92, 90, 90, 0.63);
    }
    .btnLogin:hover{
        transition: 0.5s;
        background-color:  rgba(165, 42, 42, 0.849);
        color: white;
        font-weight: 300;
    }
    .searchBx{
        font-size: 19px;
        margin-top: 25px;
        margin-left: 15px;
        height: 50px;
        width: 220px;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
        color: rgba(255, 255, 255, 0.438);
        background-color: rgba(92, 90, 90, 0.808);
    }
    .nHome li {
        float: left;
        margin-top: 40px;
        margin-left: 10px;
        font-size: 17px;
        font-weight: 150;
    }
    
    .nHome li a {
        color: rgba(255, 255, 255, 0.753);
        text-align: center;
        padding: 40px 35px;
        text-decoration: none;
    }
    .nHome li a:hover{
        transition: 0.5s;
        color: white;
        background-color:  rgba(165, 42, 42, 0.849);
        font-weight: 300;
    }
    .nAviso{
        width: 100%;
        height: 30px;
        margin: 0;
        color: white;
        padding: 0;
        padding-top: 5px;
        overflow: hidden;
        background-color: rgb(99, 97, 97);
    }
    .nAviso p{
        text-align: center;

    }

    .capa{ 
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.822);
    }
    .capa2{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.822);
    }
    #cta{
        position: absolute;
        top: 0;
        min-height: 0px;
        min-width: 0px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: .3;
    }
    .mOpciones{
        width: 100%;
        background-color: rgba(24, 23, 23, 0.815)
    }
    .nOpciones{
        list-style-type: none;
        margin-left: -80px;
        padding: 0;
        height: 1050px;
        overflow: hidden;
    }
    #opcImg1,#opcImg2,#opcImg3{
        width: 400px;
        height: 280px;
        opacity: 0.7;
        border-radius: 15px;
    }
    .nOpciones li {
        position: relative;
        width: 400px; 
        margin-top: 100px;
        float: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 3%;
        font-weight: 550;
    }

    .opcion1,.opcion2,.opcion3{
        color: black;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.644);
        height: 700px;
        border-radius: 20px;
        font-size: 40px;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.356);
    }
    .opcion1:hover{
        transition: 0.9s;
        background-color:rgba(0, 0, 0, 0.678);
        color: white
    }
    .opcion2:hover{
        transition: 0.9s;
        background-color: rgba(0, 0, 0, 0.678);
        color: white
    }
    
    .opcion3:hover{
        transition: 0.9s;
        background-color: rgba(0, 0, 0, 0.486);
        color: white
    }
    #cafe2{
        position: absolute;
        background-attachment: fixed;
        opacity: 0.2;
        height: 100%;
        width: 80%;
        top: 850px;
        left: 0px;
    }
    #btnOpc1,#btnOpc2,#btnOpc3{
        position: absolute;
        border-style: none;
        border-radius: 5px;
        color: white;
        background-color: rgba(165, 42, 42, 0.712);
        top: 605px;
        right: 65px;
        width: 250px;
        height: 70px;
    }
    #btnOpc1:hover{
        transition: 0.9s;
        background-color: rgb(165, 42, 42);
    }
    #btnOpc2:hover{
        transition: 0.9s;
        background-color: rgb(165, 42, 42);
    }
    #btnOpc3:hover{
        transition: 0.9s;
        background-color: rgb(165, 42, 42);
    }
    .hCafe{
        position: absolute;
        bottom: 0;
        margin-bottom: -1vh;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    .hCafe li select{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        animation-direction: reverse;
    }
    .hCafe li {
        float: left;
        margin-left: 0px;
        width: 16.5%;
        padding-left: 1px;
        font-size: 15px;
    }
    #tCafe,#tamCafe,#sCafe,#cCafe,#canCafe{
        margin-top: 0px;
        margin-left: 0px;
        color: rgba(255, 255, 255, 0.733);
        text-align: center;
        font-size: auto;
        height: 14vh;
        width: 100%;
        letter-spacing: 0.2em;
        font-weight: 50;
        background-color: rgba(43, 43, 42, 0.555);
    }
    #btnOrd{
        position: relative;
        font-size: auto;
        color: rgba(255, 255, 255, 0.616);
        background-color: rgba(165, 42, 42, 0.849);
        box-shadow: rgba(0, 0, 0, 0.568);
        border-width: 0;
        border-style: none;
        border-radius: 3px;
        width: 100%;
        height: 14vh;
        left: 1px;
        font-weight: 50;
        letter-spacing: 0.2em;
    }
    #btnOrd:hover{
        transition: 0.9s    ;
        color: black;
        background-color: white
    }
    @media only screen and (max-width: 1684px) {
        .nOpciones{
            height: 1750px;
        }
        .nOpciones li{
            left: 150px;
            width: 150;
        }
        
    }
    @media only screen and (max-width: 1114px) {
        .nOpciones{
            height: 2550px;
        }
        #tCafe,#tamCafe,#sCafe,#cCafe,#canCafe{
            font-size: 12px;
        }
    }
    @media only screen and (max-width: 1300px) {
        .nHome li,.btnLogin,.searchBx{
            visibility: hidden;
        }
        #logo{
            width: 250px;
            height: 95px;
            left: 41%;
        }

    }
    @media only screen and (max-width: 810px) {
        .nOpciones{
            width: 80%;
            margin-left: 5%;
            right: 25%;
            border-radius: 15px;
    
        }
        #opcImg1,#opcImg2,#opcImg3{
            margin-right: 350px;
            object-fit: cover;
            right: 150px;
            width: 70%;
            height: 30%;

        }
        .nOpciones li {
            width: 100%;
        }
        .nOpciones p{
            width: 70%;
            margin-left: 0;
            margin-right: 0px;
        }
    
        .opcion1,.opcion2,.opcion3{
            color: black;
            border-radius: 15px;
            margin-right: 0px;
            
        }
        #btnOpc1,#btnOpc2,#btnOpc3{
            position: absolute;
            width: 40%;
            left: 15%;

        }
        #tCafe,#tamCafe,#sCafe,#cCafe,#canCafe{
            font-size: 9px;
        }

    }
        