<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=StyleSheet  href="homeStyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Document</title> 
    <div class="navHome">
        <ul class="nHome">
            <img src="/views/home/MIXLOG.png" id="logo">
            <li><a href="" id="pCafe">MIX-IT</a></li>
            <li><a href="" id="cafe">CAFE</a></li>
            <li><a href="" id="bebidas">BEBIDAS</a></li>
            <li><a href="" id="accesorios">ACCESORIOS</a></li>
            <li><a href="" id="miembros">MIEMBROS</a></li>
            <button class="btnLogin">INICIAR SESION</button>
            <input class="searchBx" value="Buscar"> 
        </ul>
        <div class="nAviso"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora</p></div>
    </div>
</head>
<body>
    <!--Seccion 1-->
    <div class="capa">
        <div class="capa2">
            <video id="cta" autoplay muted loop>
                <source src="/views/home/mixvid.mp4" type=video/mp4>
            </video>   
                <ul class="hCafe"> 
                    <li>
                        <select name="tipoCafe" id="tCafe">
                            <option>T. CAFE</option>
                            <option>OPCION 1</option>
                            <option>OPCION 1</option>
                        </select>
                    </li>
                    <li>
                        <select name="tamCafe" id="tamCafe">
                            <option>PREPARACION</option>
                            <option>OPCION 1</option>
                            <option>OPCION 1</option>
                        </select>
                    </li>
                    <li>
                        <select name="saborCafe" id="sCafe">
                            <option>SABOR</option>
                            <option>OPCION 1</option>
                            <option>OPCION 1</option>
                        </select>
                    </li>
                    <li>
                        <select name="complem" id="cCafe">
                            <option>COMPLEMENTO</option>
                            <option>OPCION 1</option>
                            <option>OPCION 1</option>
                        </select>
                    </li>
                    <li>
                        <select name="cantidad" id="canCafe">
                            <option>CANTIDAD</option>
                            <option>OPCION 1</option>
                            <option>OPCION 1</option>
                        </select>
                    </li>
                    <li>
                        <button name="btnOrd" id="btnOrd">ORDENAR</button>
                    </li>
                </ul>
        </div>   
    </div>
    <!--Seccion 2-->
    <div class='mOpciones'>
        <ul class="nOpciones">
            <li><div class="opcion1">
                <img src= opc1.jpg id="opcImg1">
                <p><span id="sOpc1">Titulo 1 <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></span>
                    <button name="btnOpc1" id="btnOpc1">OPCION 1</button>
                </div>
            </li>
            <li><div class="opcion2">
                <img src= opc2.jpg id="opcImg2">
                <p><span id="sOpc2">Titulo 1 <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></span>
                    <button name="btnOpc2" id="btnOpc2">OPCION 2</button>
                </div>
            </li>
            <li><div class="opcion3">
                <img src= opc3.jpg id="opcImg3">
                <p><span id="sOpc3">Titulo 1 <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></span>
                    <button name="btnOpc3" id="btnOpc3">OPCION 3</button>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>