<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Registrarse</h1>
      <p>Por favor llena esta forma para poder obtener una cuenta en el sitio.</p>
      <hr>
  
      <label for="email"><b>Correo electronico</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repetir Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Recordarme en este equipo
      </label>
  
      <p>Cuando creas tu cuenta aceptas que te gusta mucho el cafe</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Registrarme</button>
      </div>
    </div>
  </form>
