<!DOCTYPE html>
<html lang="en">
<%-include('./partials/headHome.ejs')%>
<body>
    <!--Seccion 1-->
    <link rel=StyleSheet  href="/css/homeStyle.css">
    <section class="section1">
    <%-include('./partials/navBar.ejs')%>
    <video src="video/mixvid.mp4" autoplay muted loop></video>
        <ul class="hCafe"> 
            <li>
                <select name="tipoCafe" id="tCafe">
                    <option>T. CAFE</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="tamCafe" id="tamCafe">
                    <option>PREPARACION</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="saborCafe" id="sCafe">
                    <option>SABOR</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="complem" id="cCafe">
                    <option>COMPLEMENTO</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="cantidad" id="canCafe">
                    <option>CANTIDAD</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <button name="btnOrd" id="btnOrd">ORDENAR</button>
            </li>
        </ul>
    </section>
    <div class="separator">
    </div>
    <!--Seccion 2-->
    <section class="homeSection2">
        <div class="card">
            <img src="img/cafe2.jpg" alt="">
            <span>Cafe 1<br><br></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, temporibus.<br><br></p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/opc1.jpg" alt="">
            <span>Cafe 1</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, temporibus.<br><br></p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/opc2.jpg" alt="">
            <span>Cafe 1</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, temporibus.<br><br></p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/opc3.jpg" alt="">
            <span>Cafe 1</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, temporibus.<br><br></p>
            <a href="#">Leer mas</a>
        </div>
    </section>
</body>
</html>