<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <!--Seccion 1-->
    <link rel=StyleSheet  href="/css/homeStyle.css">
    <section class="section1">
    <%-include('./partials/navBar.ejs')%>
    <video src="video/mixvid.mp4" autoplay muted loop></video>
        <ul class="hCafe"> 
            <li>
                <select name="tipoCafe" id="tCafe">
                    <option>T. CAFE</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="tamCafe" id="tamCafe">
                    <option>PREPARACION</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="saborCafe" id="sCafe">
                    <option>SABOR</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="complem" id="cCafe">
                    <option>COMPLEMENTO</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <select name="cantidad" id="canCafe">
                    <option>CANTIDAD</option>
                    <option>OPCION 1</option>
                    <option>OPCION 1</option>
                </select>
            </li>
            <li>
                <button name="btnOrd" id="btnOrd">ORDENAR</button>
            </li>
        </ul>
    </section>
    <div class="separator">
    </div>
    <!--Seccion 2-->
    <section class="homeSection2">
        <div class="card">
            <img src="img/cafe2.jpg" alt="">
            <span>Cafe em Grano<br><br></span>
            <p>Conoce nuestro delicioso cafe en grano, proveniente directamente de los lugares mas remotos en el mundo.<br><br><br><br></p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="https://i.blogs.es/580ccb/cafe3/450_1000.jpg" alt="">
            <span>Cafe hecho a la medida</span>
            <p><br>La manera en el que creamos el cafe es uno de las mas sofisticadad en la actualidad, olvidate de cafe procesado, nuestro cafe es 100% organico.<br><br></p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="https://www.65ymas.com/uploads/s1/53/59/0/cafetera-moka-italiana-bigstock.jpeg" alt="">
            <span>Cafe 100% organico</span>
            <p><br>Prueba nuestro cafe 100% organico, realizado por baristas certficados.<br><br><br><br><br></p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="https://www.sweetesthome.mx/wp-content/uploads/2021/05/TAj-cJQ-Termo-para-cafe-0-165456541_m.jpg" alt="">
            <span>Accesorios</span>
            <p><br> Sirvete nuestro delicioso cafe con nuestros diversos accesorios a la venta><br><br><br><br><br></p>
            <a href="#">Leer mas</a>
        </div>
    </section>
    <div class="separator">
    </div>
    <section class="servicios-section">
            <div class="servicios-imagen">
                <img src="https://www.todosobrecafe.com/wp-content/uploads/2020/04/haciendo-caf%C3%A9-expreso-1024x731.jpg" alt="">
            </div>
            <div class="servicios-descripcion">
                <p>Contactanos</p>
                <ul>
                    <li>
                        <form action="" method="GET">
                            <input type="text" name="nombre" placeholder="Nombre">
                        </form>
                    </li>
                    <li>
                        <form action="" method="GET">
                            <input type="text" name="numero" placeholder="Numero telefonico">
                        </form>
                    </li>
                    <li>
                        <form action="" method="GET">
                            <input type="text" name="correo" placeholder="Correo Electronico">
                        </form>
                    </li>
                    <li>
                        <form action="" method="GET">
                            <input id="btn" type="submit" name="enviar" value="Contactar">
                        </form>
                    </li>
                </ul>
            </div>
    </section>
</body>
</html>