
<link rel=StyleSheet  href="/css/login.css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Iniciar Sesion </h2>
<!--     <h2 class="inactive underlineHover">Registarse </h2>
 -->
 
    <h2 class="active underlineHover" href="/register.ejs">Registrarse</h2>

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar sesion">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Haz olvidado la contraseña?</a>
    </div>

  </div>
</div>
