<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=StyleSheet  href="/css/detStyle.css">
        <title>carrito</title>
        <div class="navHome">
            <ul class="nHome">
                <img src="/logo.PNG" id="logo">
                <button class="btnLogin">INICIAR SESION</button>
                <input class="searchBx" value="Buscar"> 
                <li><a href="" id="pCafe">PREPARA TU CAFE</a></li>
                <li><a href="" id="cafe">CAFE</a></li>
                <li><a href="" id="bebidas">BEBIDAS</a></li>
                <li><a href="" id="accesorios">ACCESORIOS</a></li>
                <li><a href="" id="miembros">MIEMBROS</a></li>
            </ul>
            <div class="nAviso">Bienvenido a la mejor opción para tu café </div>
        </div>
    </head>
    <body>
        <header>
            <h1>Carrito de compra</h1>
        </header>
        <section class="carrito">
        
                    <article class="product">
                        <img src="cafeLatte.PNG" alt="cafe latte" class="image">
                        <h3 class="name">Café Latte</h3>
                        <p class="description">descripción</p>
                        <p class="price">$45.00</p>
                        <p class="discount">15% de descuento pago en efectivo</p>
                        <p class="delivery">$12.00</p>
                    </article>
                    <article class="product">
                        <img src="cappuccino.PNG" alt="cafe cappuccino" class="image">
                        <h3 class="name">Café Cappuccino</h3>
                        <p class="description">descripción</p>
                        <p class="price">$54.00</p>
                        <p class="discount">15% de descuento pago en efectivo</p>
                        <p class="delivery">$12.00</p>
                    <article class="product">
                        <img src="expressoAmericano.PNG" alt="cafe expresso americano">
                        <h3 class="name">Café Expresso Americano</h3>
                        <p class="description">descripción</p>
                        <p class="price">$40.00</p>
                        <p class="discount">15% de descuento pago en efectivo</p>
                        <p class="delivery">$12.00</p>
                    </article>
                    <article class="product">
                        <img src="latteMacchiato.PNG" alt="cafe latte macchiato">
                        <h3 class="name">Café Latte Macchiato</h3>
                        <p class="description">descripción</p>
                        <p class="price">$60.00</p>
                        <p class="discount">15% de descuento pago en efectivo</p>
                        <p class="delivery">$12.00</p>
                    </article> 
                    <article class="product">
                        <img src="mocha.PNG" alt="cafe mocha">
                        <h3 class="name">Café Mocha</h3>
                        <p class="description">descripción</p>
                        <p class="price">$60.00</p>
                        <p class="discount">15% de descuento pago en efectivo</p>
                        <p class="delivery">$12.00</p>
                    </article>
                    <article class="product">
                        <img src="vainillaLatte.PNG" alt="cafe vainilla latte">
                        <h3 class="name">Café Vainilla Latte</h3>
                        <p class="description">descripción</p>
                        <p class="price">$57.00</p>
                        <p class="discount">15% de descuento pago en efectivo</p>
                        <p class="delivery">$12.00</p>
                    </article>

        </section>
    </body>
    <footer>
       
        <section class="pagefoot">
            <p>Si requieres pago con tarjeta o transferencia, no te preocupes, llevamos terminal</h5>
            <h5>Programa loyal customer: Recomienda a un(a) amig(a) y gana premios y descuentos</h5>
            <h5> Acumula puntos canjeables por productos por pago en efectivo! Pregumnta por nuestras promociones</h5>
            <br> ¿Tienes comentarios? ¡Contáctanos!</h5>  
        </section>
        <section class="copyright">
            <p>MixCoffee Copyright ©derechosreservados</p>
        </section>
    </footer>


</html>
