
<link rel=StyleSheet  href="/css/login.css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Registrarse </h2>

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="register" placeholder="usuario">
      <input type="text" id="password" class="fadeIn third" name="register" placeholder="contraseña">
      <input type="text" id="cPassword" class="fadeIn third" name="register" placeholder="confirmar contraseña">
      <input type="text" id="correoElectronico" class="fadeIn third" name="register" placeholder="email">
      <input type="submit" class="fadeIn fourth" value="Registrate">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Haz olvidado la contraseña?</a>
    </div> -->

  </div>
</div>