<link rel=StyleSheet  href="/css/homeStyle.css">
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <section class="pagefoot">
                <h2>Si requieres pago con tarjeta o transferencia, no te preocupes, llevamos terminal
                    Programa loyal customer: Recomienda a un(a) amig(a) y gana premios y descuentos
                    Acumula puntos canjeables por productos por pago en efectivo! Pregumnta por nuestras promociones
                <br><br>¿Tienes comentarios? ¡Contáctanos!</h2>  
            </section>
            <section class="copyright">
                <p>MixCoffee Copyright ©MMXXII derechos reservados</p>
            </section>
        </div>
    </div>
</footer>