<section class="pagefoot">
    <p>Si requieres pago con tarjeta o transferencia, no te preocupes, llevamos terminal</h5>
    <h5>Programa loyal customer: Recomienda a un(a) amig(a) y gana premios y descuentos</h5>
    <h5> Acumula puntos canjeables por productos por pago en efectivo! Pregumnta por nuestras promociones</h5>
    <br> ¿Tienes comentarios? ¡Contáctanos!</h5>  
</section>
<section class="copyright">
    <p>MixCoffee Copyright ©derechosreservados</p>
</section>
