<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=StyleSheet  href="/css/detStyle.css">
<title>carrito</title>
<div class="navHome">
    <ul class="nHome">
        <img src="/img/MIXLOG.png" id="logo"> 
        <button class="btnLogin">INICIAR SESION</button>
        <input class="searchBx" value="Buscar"> 
        <li><a href="" id="pCafe">PREPARA TU CAFE</a></li>
        <li><a href="" id="cafe">CAFE</a></li>
        <li><a href="" id="bebidas">BEBIDAS</a></li>
        <li><a href="" id="accesorios">ACCESORIOS</a></li>
        <li><a href="" id="miembros">MIEMBROS</a></li>
    </ul>
    <div class="nAviso">Bienvenido a la mejor opción para tu café </div>
</div>
