<<<<<<< HEAD
<div class="navHome">
    <ul class="nHome">
        <img src="/img/MIXLOG.png" id="logo"> 
        <li><a href="" id="pCafe">MIX-IT</a></li>
        <li><a href="" id="cafe">CAFE</a></li>
        <li><a href="" id="bebidas">BEBIDAS</a></li>
        <li><a href="" id="accesorios">ACCESORIOS</a></li>
        <li><a href="" id="miembros">MIEMBROS</a></li>
        <button class="btnLogin">INICIAR SESION</button>
        <input class="searchBx" value="Buscar">
    </ul>
    <div class="nAviso">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora </div>
</div>
=======
<link rel=StyleSheet  href="/css/detStyle.css">
<header class="header">
    <nav class="nav">
      <a href="/" class="logo nav-link">  
        <img src="img/MIXLOG.png" class="logo-img">
      </a>
      <button class="nav-toggle" aria-label="Abrir menú">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Productos</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Bolsas de Cafe</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Mix-IT</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link nav-menu-link_active"
            >Iniciar Sesion</a
          >
        </li>
        <li class="nav-menu-item">
          <a href="/carrito" class="nav-menu-link nav-link">Carrito</a>
        </li>
      </ul>
    </nav>
  </header>
>>>>>>> 5b9534d (Se crean vista login/cart/home)
