<div class="navHome">
    <ul class="nHome">
        <img src="/img/MIXLOG.png" id="logo"> 
        <li><a href="" id="pCafe">MIX-IT</a></li>
        <li><a href="" id="cafe">CAFE</a></li>
        <li><a href="" id="bebidas">BEBIDAS</a></li>
        <li><a href="" id="accesorios">ACCESORIOS</a></li>
        <li><a href="" id="miembros">MIEMBROS</a></li>
        <button class="btnLogin">INICIAR SESION</button>
        <input class="searchBx" value="Buscar">
    </ul>
    <div class="nAviso">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora </div>
</div>
